#ig img {
    width: 30%;
    margin: 1.66%;
    float: left;
}

#ig p {
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    margin: 1.66%;
    padding-bottom: 20px;
    width: 30%;
    border-bottom: 2px solid #c1c1c1;
}